@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Biryani", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 1em;
}

.card {
  width: 90%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  color: black;
  text-align: center;
}

.totem {
  margin-top: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.frase {
  padding: 1em;
  text-align: center;
}

.alunos {
  // background-color: #f9f9f9;
  padding: 20px;
}

.imagem {
  margin-top: 1em;
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.lista-de-alunos {
  background-color: white;
}

.barra-principal {
  border-bottom: 4px solid #67C6E3;
}

.titulo-principal {
  font-family: "Biryani", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #67C6E3;
}

.nome-aluno {
  text-align: center;
}

.matricula-aluno {
  text-align: center;
}

// ion-footer {
//   width: 100%;
//   margin: 0;
//   padding: 0;
//   margin-top: 6.8em;
//   margin-bottom: 3.8em;
//   display: flex;
//   border-bottom: 2px solid #67C6E3;
//   font-family: "Biryani", sans-serif;
//   font-weight: 600;
//   font-style: normal;
// }

// .footer-sobre {
//   margin: 3px;
//   padding-left: 2em;
//   text-align: center;
// }

// .footer-relatorio {
//   margin: 3px;
//   text-align: center;
//   padding-right: 10px;
// }

// .footer-inicio {
//   margin: 3px;
//   text-align: center;
// }
